*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: auto;
    text-align: center;
    width: 75%;
}
.profile-image {
    width: 350px;
    height: 350px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url('../images/pic1.jpg');
    background-size: cover;
    background-position: center;
    margin: 2rem auto;
}
.profile-text h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;    
}
ul{
    list-style: none;
}
.profile-text ul li {
    margin-bottom: 0.8rem;
}
.footer ul li {
    display: inline-block;
    margin: 2rem;
}
@media (max-width: 768px) {
    body {
        background-color: rgb(118, 118, 140);
    }
    .container {
        color: #fff;
    }
    .profile-image {
        background-image: url('../images/pic2.jpg');
    }
}
@media (max-width: 480px) {
    body {
        background-color: rgb(162, 194, 162);
    }
    .container {
        width: 100%;
    }
    .profile-image {
        background-image: url('../images/pic3.jpg');
        height: 200px;
        width: 200px;
    }
    .footer ul li {
        display: block;
        margin: 3rem;
    }
}